body{
    font-family: "Montserrat";
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat";
    font-weight: 900;

}


.container-fluid{
    padding: 7% 15% ;

    }


#title{
    background-color:#ff4c68;
    /* position: absolute; */
    z-index: 0;
    text-align: left;
}

#title .container-fluid{
    padding: 3% 15% 7%;
}

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    width: 90%;
    font-style: normal;
    color: whitesmoke;
    padding-right:100px; 

}


/* Title image */
.title_image{
    transform: rotate(18deg);
    position: absolute;
    z-index: 0;
    left: 60%;

    
} 


/* Navigation bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
    
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";

}

/* Download button */
.download{
    margin: 5% 3% 5% 0;
}

.cont{
    padding: auto,30%;
}




/* Features for the carrousel */
#features{
    position: relative; 
    z-index: 1;
    background-color: #fff;
    /* margin-top: 80; */

}

.features_h3{
    font-size: 1.5rem;
}

.features_p{
    color: #8f8f8f;
    width: 57%;
}



.icon:hover{
    color: red;
}

.fa-solid fa-circle-check:hover{
    color:#ff4c68 !important;
}


/* Testimonials section */

.testimonial-text{
    font-size: 3.5rem;
    line-height: 1.5;
}

 #testimonials{
    background-color: #ef8172;
    color: #fff;
} 

.testimonial-image{
    width:10%;
    border-radius:100%;
    margin:20px;
}

/* press section */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image{
    width: 15%;
    margin:20px 20px 50px;
}


/* pricing section */

.pricing-text{
    font-size: 3.5rem;
    line-height: 1.5;
}

.pricing-head{
   font-size: 1.5rem;
}

#pricing{
    padding: 5%;
}

.pricing-column{
    padding:3% 2%
}

/* call to action section */


.cta-h3{
    font-size: 4.5rem;
    color: #fff;
}

#cta{
    background-color: #ff4c68;
}
.ddb{
    background-color: #fff;
}


/* footer section */
/* #footer{
    padding: 5% 10%;
} */

.social-icons{
    margin: 7px;
}

@media (max-width:1247px){
    #title{
        text-align: center;
    }


    .title_image{
        position: static;
        transform: rotate(0);
    }
}

